{{ template "base/main_top.html" .}}
<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <h3>Registrasi Tujuan Baru</h3>
</div>

<div class="page-content">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Form</h4>
                {{ if .is_not_ok }}
                <div class="alert alert-danger"><i class="bi bi-x-circle"></i> Menu gagal dibuat, coba lagi.</div>
                {{ end }}
                {{ if .is_ok }}
                <div class="alert alert-success"><i class="bi bi-x-circle"></i> Menu berhasil dibuat.</div>
                {{ end }}
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-horizontal" method="post" action="/web/pemda/registrasi"
                          enctype="multipart/form-data">
                        <div class="form-body">
                            <div class="row">
                                <!-- Nama -->
                                <div class="col-md-4">
                                    <label>Nama</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            <input type="text" class="form-control" name="nama">
                                            <div class="form-control-icon">
                                                <i class="bi bi-person"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Telephone -->
                                <div class="col-md-4">
                                    <label>No. Telepon</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            <input type="text" class="form-control" name="telepon">
                                            <div class="form-control-icon">
                                                <i class="bi bi-telephone"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Instansi -->
                                <div class="col-md-4">
                                    <label>Instansi</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <select class="choices form-select single-remove" name="instansi"
                                                id="select-instansi">
                                            {{ range $i, $v := .data.agency}}
                                            <option value="{{ $v.ID }}">{{ $v.AgencyName }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <!-- SKPD/OPD -->
                                <div class="col-md-4">
                                    <label>SKPD/OPD</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group has-icon-left">
                                        <div class="position-relative">
                                            <input type="text" class="form-control" name="skpd_opd">
                                            <div class="form-control-icon">
                                                <i class="bi bi-book"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tujuan -->
                                <div class="col-md-4">
                                    <label>Tujuan</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <select class="choices form-select" name="tujuan" id="tujuan">
                                            {{ range $i, $v := .data.destination}}
                                            <option value="{{ $v.ID }}">{{ $v.DestinationName }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <!-- Konsultasi -->
                                <div class="col-md-4 hidden" id="label-konsultasi">
                                    <label>Konsultasi</label>
                                </div>
                                <div class="col-md-8 hidden" id="form-konsultasi">
                                    <div class="form-group">
                                        <select class="choices form-select single-remove" name="konsultasi"
                                                id="select-konsultasi">
                                            {{ range $i, $v := .data.consultation}}
                                            <option value="{{ $v.ID }}">{{ $v.ConsultationName }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <!-- Pokja -->
                                <div class="col-md-4 hidden" id="label-pokja">
                                    <label>Pokja</label>
                                </div>
                                <div class="col-md-8 hidden" id="form-pokja">
                                    <div class="form-group">
                                        <select class="choices form-select single-remove" name="pokja"
                                                id="select-pokja">
                                            {{ range $i, $v := .data.pokja}}
                                            <option value="{{ $v.ID }}">{{ $v.PokjaName }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Kirim</button>
                                    <button type="reset" class="btn btn-light-secondary me-1 mb-1">Hapus
                                        Perubahan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let choices = document.querySelectorAll('.choices');
    let initChoice;
    let selected = []

    for (let i = 0; i < choices.length; i++) {
        if (choices[i].classList.contains("single-remove")) {
            initChoice = new Choices(choices[i],
                {
                    delimiter: ',',
                    editItems: false,
                    maxItemCount: -1,
                    removeItemButton: false,
                    renderChoiceLimit: 4,
                    searchResultLimit: 10,
                });

            selected.push({name: choices[i].id, element: initChoice})
        } else {
            initChoice = new Choices(choices[i]);
        }
    }

    for (let i = 0; i < selected.length; i++) {
        selected[i].element.removeActiveItems()
    }

    $("select[id=tujuan]").change(function (e) {
        if (e.currentTarget.value == "2") {
            $("#label-konsultasi").even().removeClass("hidden")
            $("#form-konsultasi").even().removeClass("hidden")
        } else {
            $("#label-konsultasi").even().addClass("hidden")
            $("#form-konsultasi").even().addClass("hidden")
        }

        if (e.currentTarget.value == "3") {
            $("#label-pokja").even().removeClass("hidden")
            $("#form-pokja").even().removeClass("hidden")
        } else {
            $("#label-pokja").even().addClass("hidden")
            $("#form-pokja").even().addClass("hidden")
        }
        for (let i = 0; i < selected.length; i++) {
            if (selected[i].name != "select-instansi") {
                selected[i].element.removeActiveItems()
            }
        }
    })

</script>
{{ template "base/main_bottom.html" .}}