<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Instansi</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha256-2FMn2Zx6PuH5tdBQDRNwrOo60ts5wWPC9R8jK67b3t4=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" integrity="sha256-pdY4ejLKO67E0CM2tbPtq1DJ3VGDVVdqAR6j3ZwdiE4=" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/css/all.min.css" integrity="sha256-MVopmdyC2tYTiJ8wlktf0uh0v4NgT+vNdyVFepi7Q0c=" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">

                <!-- Sidebar -->
                {{ template "base/sidebar.html" .}}
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <!-- <h3>Detail Instansi</h3> -->
            </div>
            <div class="page-content">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="">Detail Instansi {{ .data.AgencyName }}</h3>
                            <!-- <p class="text-subtitle text-muted">Kamu bisa ubah datanya.</p>
                            <div class="alert alert-danger text-center"></i>
                                Gagal
                            </div> -->
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form id="instansi_form" class="form form-horizontal" method="post"
                                    action="/instansi/terdaftar/{{ .data.ID }}">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>ID Instansi</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <input type="text" class="form-control" id="first-name-icon" {{
                                                            if .data }} value="{{ .data.ID }}" {{ end }} placeholder="ID" readonly>
                                                        <div class="form-control-icon">
                                                            <i class="bi bi-list"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Nama Instansi</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <input type="text" class="form-control" placeholder="Nama"
                                                            id="first-name-icon" name="name" {{ if .data }}
                                                            value="{{ .data.AgencyName }}" {{ end }} {{ if .success }}
                                                            disabled {{ end }}>
                                                        <div class="form-control-icon">
                                                            <i class="bi bi-building"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Email -->
                                            <div class="col-md-4">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <input type="email" class="form-control" id="first-name-icon"
                                                            name="email" {{ if .data }} value="{{ .data.AgencyEmail }}"
                                                            {{ end }} {{ if .success }} disabled {{ end }} placeholder="Email">
                                                        <div class="form-control-icon">
                                                            <i class="bi bi-envelope"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Telephone -->
                                            <div class="col-md-4">
                                                <label>No. Telepon</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <input type="number" class="form-control" id="first-name-icon"
                                                            name="telephone" {{ if .data }}
                                                            value="{{ .data.AgencyTelephone }}" {{ end }} {{ if .success
                                                            }} disabled {{ end }} placeholder="Telepon">
                                                        <div class="form-control-icon">
                                                            <i class="bi bi-telephone"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Tanggal Dibuat</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <input type="text" class="form-control" id="first-name-icon" {{
                                                            if .data }}
                                                            value="{{ .data.CreatedAt.Format `Monday, _2 January 2006 - 03:04:05 PM` }}"
                                                            {{ end }} placeholder="Taggal Dibuat" readonly>
                                                        <div class="form-control-icon">
                                                            <i class="bi bi-clock"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Terakhir Diubah</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <input type="text" class="form-control" id="first-name-icon" {{
                                                            if .data }}
                                                            value="{{ .data.UpdatedAt.Format `Monday, _2 January 2006 - 03:04:05 PM` }}"
                                                            {{ end }} placeholder="Tanggal Diubah" readonly>
                                                        <div class="form-control-icon">
                                                            <i class="bi bi-clock"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-sm-start">
                                            <!-- <button id="delete_instansi" class="btn btn-danger me-1 mb-1" type="button" {{ if .success }} disabled {{ end }}>
                                                Hapus Instansi
                                            </button> -->
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1" {{ if .success }}
                                                disabled {{ end }}>Ubah</button>
                                            <button type="reset" class="btn btn-light-secondary me-1 mb-1" {{ if
                                                .success }} disabled {{ end }}>Hapus
                                                Perubahan
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@4.0.0/dist/jquery.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha256-5P1JGBOIxI7FBAvT/mb1fCnI5n/NhQKzNUuW7Hq0fMc=" crossorigin="anonymous"></script>
        <script src="/assets/js/mazer.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/js/all.min.js" integrity="sha256-KIvD/OMxkCLYz1tU9IH4cPio8Qidomavw3W3ZGwNrpQ=" crossorigin="anonymous"></script>
        <!-- <script>
            $("#delete_instansi").click(function () {
                $.ajax({
                    url: "/instansi/terdaftar/{{ .data.ID }}",
                    method: "DELETE",
                    success: function () {
                        Toastify({
                            text: "Data berhasil dihapus.\nKamu akan dialihkan dalam 3 detik.",
                            duration: 3000,
                            close: false,
                            gravity: "top",
                            position: "center",
                            backgroundColor: "#4fbe87",
                            callback: function () {
                                window.location.href = "/instansi/terdaftar"
                            }
                        }).showToast();
                    },
                    error: function () {
                        Toastify({
                            text: "Data gagal dihapus",
                            duration: 1000,
                            close: false,
                            gravity: "top",
                            position: "center",
                            backgroundColor: "#dc3545",
                            callback: function () {
                                window.location.href = ""
                            }
                        }).showToast();
                    }
                })
            })
        </script> -->

        {{ if .success }}
        <script>
            Toastify({
                text: "Berhasil",
                duration: 1000,
                close: false,
                gravity: "top",
                position: "center",
                backgroundColor: "#4fbe87",
                callback: function () {
                    window.location.href = "/instansi/terdaftar"
                }
            }).showToast();
        </script>
        {{ end }}
        {{ if .error }}
        <script>
            Toastify({
                text: "Berhasil",
                duration: 1000,
                close: false,
                gravity: "top",
                position: "center",
                backgroundColor: "#dc3545",
                callback: function () {
                    window.location.href = "/instansi/terdaftar"
                }
            }).showToast();
        </script>
        {{ end }}
</body>
