<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instansi Terdaftar</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha256-2FMn2Zx6PuH5tdBQDRNwrOo60ts5wWPC9R8jK67b3t4=" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" integrity="sha256-pdY4ejLKO67E0CM2tbPtq1DJ3VGDVVdqAR6j3ZwdiE4=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/css/all.min.css" integrity="sha256-MVopmdyC2tYTiJ8wlktf0uh0v4NgT+vNdyVFepi7Q0c=" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">

                <!-- Sidebar -->
                {{ template "base/sidebar.html" .}}
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <!-- <h3>Terdaftar</h3> -->
            </div>

            <div class="page-content">
                <section class="section">
                    <div class="col">
                        <div class="col">
                            <!-- Card -->
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="">Daftar Instansi</h3>
                                    <p class="text-muted">Total {{ len .data }} data aktif.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-content">
                                    <div class="">
                                        <table class="table mb-0 table-lg" style="table-layout: fixed; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th width="10%">Nomor</th>
                                                    <th width="45%">Nama Instansi</th>
                                                    <th width="29%" style="text-align: center;">Terakhir Diperbarui</th>
                                                    <th style="text-align: center;">Detail</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{ range $i, $v := .data }}
                                                <tr>
                                                    <td class="text-bold-500" style="text-align: center;">{{ start1
                                                        $i }}
                                                    </td>
                                                    <td>{{ .AgencyName }}</td>
                                                    <td class="text-bold-500" style="text-align: center;">{{
                                                        .UpdatedAt.Format "_2 January 2006 - 3:04 PM" }}
                                                    </td>
                                                    <td style="text-align: center;"><a
                                                            href="/instansi/terdaftar/{{ .ID }}"
                                                            class="btn btn-sm btn-primary"><i
                                                                class="bi bi-pencil-square"></i>
                                                            Buka</a></td>
                                                </tr>
                                                {{ end }}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@4.0.0/dist/jquery.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha256-5P1JGBOIxI7FBAvT/mb1fCnI5n/NhQKzNUuW7Hq0fMc=" crossorigin="anonymous"></script>
    <script src="/assets/js/mazer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/js/all.min.js" integrity="sha256-KIvD/OMxkCLYz1tU9IH4cPio8Qidomavw3W3ZGwNrpQ=" crossorigin="anonymous"></script>
</body>
