<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Pokja</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha256-2FMn2Zx6PuH5tdBQDRNwrOo60ts5wWPC9R8jK67b3t4=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" integrity="sha256-pdY4ejLKO67E0CM2tbPtq1DJ3VGDVVdqAR6j3ZwdiE4=" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/css/all.min.css" integrity="sha256-MVopmdyC2tYTiJ8wlktf0uh0v4NgT+vNdyVFepi7Q0c=" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">

                <!-- Sidebar -->
                {{ template "base/sidebar.html" .}}
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <!-- <div class="page-heading">
                <h3>Detail Page</h3>
            </div> -->
            <div class="page-content">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3>Detail {{ .data.PokjaName }}</h3>
                            <p class="text-muted">Dibuat pada {{ .data.CreatedAt.Format "02/01/2006 15:04:05" }}</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <form action="" method="post">
                                <div class="card-body">
                                    <div class="form-body">
                                        <div class="row">
                                            <input type="hidden" name="id" value="{{ .data.ID }}">
                                            <input type="hidden" name="cstat" value="{{ .data.Status }}">
                                            <div class="col-md-4">
                                                <label>Nama</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <input type="text" class="form-control-plaintext" value=": {{ .data.PokjaName }}"
                                                            readonly>
                                                        <div class="form-control-icon">
                                                            <!--<i class="bi bi-person"></i>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Telephone -->
                                            <div class="col-md-4">
                                                <label>Status</label>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group has-icon-left">
                                                    <div class="position-relative">
                                                        <select class="form-select" name="ustat" id="ustat">
                                                            <option value="true" {{ if eq .data.Status true }} selected
                                                                {{ end }}>Aktif</option>
                                                            <option value="false" {{ if eq .data.Status false }}
                                                                selected {{ end }}>Non Aktif</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-sm-end">
                                            <button id="pokja-update" class="btn btn-primary me-1 mb-1" type="submit">
                                                Ubah
                                            </button>
                                            <button id="pokja-delete" class="btn btn-danger me-1 mb-1" type="button">
                                                Hapus
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@4.0.0/dist/jquery.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha256-5P1JGBOIxI7FBAvT/mb1fCnI5n/NhQKzNUuW7Hq0fMc=" crossorigin="anonymous"></script>
        <script src="/assets/js/mazer.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/js/all.min.js" integrity="sha256-KIvD/OMxkCLYz1tU9IH4cPio8Qidomavw3W3ZGwNrpQ=" crossorigin="anonymous"></script>
        <script>
            $("#pokja-delete").click(function () {
                $.ajax({
                    url: "/pokja/terdaftar/{{ .data.ID }}",
                    method: "DELETE",
                    success: function () {
                        Toastify({
                            text: "Berhasil",
                            duration: 1000,
                            close: false,
                            gravity: "top",
                            position: "center",
                            backgroundColor: "#4fbe87",
                            callback: function () {
                                window.location.href = "/pokja/terdaftar"
                            }
                        }).showToast();

                        $("#pokja-update").prop("disabled", true)
                        $("#pokja-delete").prop("disabled", true)
                    },
                    error: function () {
                        Toastify({
                            text: "Gagal",
                            duration: 1000,
                            close: false,
                            gravity: "top",
                            position: "center",
                            backgroundColor: "#dc3545",
                            callback: function () {
                                window.location.href = ""
                            }
                        }).showToast();
                    }
                })
            })
        </script>
</body>
