<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" type="text/css" href="/assets/fonts/nunito/nunito.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/montserrat/montserrat.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/toastify/toastify.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/iconly/bold.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="/assets/fontawesome/css/all.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/assets/vendors/apexcharts/dist/apexcharts.css"> -->
</head>

<body>
    <div id="app">
        <div id="main" class="layout-horizontal">
            <header class="mb-5">
                <div class="header-top">
                    <div class="container">
                        <div class="logo text-start">
                            <h1 style="font-family: 'Montserrat', sans-serif;">Buku Tamu</h1>
                        </div>
                    </div>
                </div>
                <nav class="main-navbar">
                    <div class="container">
                        <ul>
                            <li class="menu-item  ">
                                <a href="/" class="menu-link">
                                    <i class="fa-solid fa-house"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>

                            <li class="menu-item">
                                <a href="/pemda/terdaftar" class="menu-link">
                                    <!-- <i class="bi bi-building"></i> -->
                                    <i class="fa-solid fa-building-user"></i>
                                    <span>Pemda</span>
                                </a>
                            </li>

                            <li class="menu-item">
                                <a href="/penyedia/terdaftar" class="menu-link">
                                    <!-- <i class="bi bi-building"></i> -->
                                    <i class="fa-solid fa-building-user"></i>
                                    <span>Penyedia</span>
                                </a>
                            </li>

                            <!-- <li class="menu-item  has-sub">
                                <a href="#" class='menu-link'>
                                    <i class="fa-solid fa-building-user"></i>
                                    <span>Pemda</span>
                                </a>
                                <div class="submenu ">
                                    Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it.
                                    <div class="submenu-group-wrapper">
                                        <ul class="submenu-group">
                                            <li class="submenu-item  ">
                                                <a href="/pemda/registrasi">Registrasi</a>
                                            </li>
                                            <li class="submenu-item  ">
                                                <a href="/pemda/terdaftar">Terdaftar</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </li> -->


                            <!-- <li class="menu-item has-sub">
                                <a href="#" class='menu-link'>
                                    <i class="fa-solid fa-building-user"></i>
                                    <span>Penyedia</span>
                                </a>
                                <div class="submenu ">
                                   Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it.
                                    <div class="submenu-group-wrapper">
                                        <ul class="submenu-group">
                                            <li class="submenu-item  ">
                                                <a href="/penyedia/registrasi" class='submenu-link'>Registrasi</a>
                                            </li>

                                            <li class="submenu-item  ">
                                                <a href="/penyedia/terdaftar" class='submenu-link'>Terdaftar</a>
                                            </li>
                                    </div>
                                </div>
                            </li> -->

                            <li class="menu-item">
                                <a href="/instansi/terdaftar" class="menu-link">
                                    <!-- <i class="bi bi-building"></i> -->
                                    <i class="fa-solid fa-building"></i>
                                    <span>Instansi</span>
                                </a>
                            </li>
                            <!-- <li class="menu-item has-sub">
                                <a href="#" class='menu-link'>
                                    <i class="bi bi-list"></i>
                                    <span>Instansi</span>
                                </a>
                                <div class="submenu ">
                                    Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it.
                                    <div class="submenu-group-wrapper">
                                        <ul class="submenu-group">
                                            <li class="submenu-item  ">
                                                <a href="/instansi/registrasi" class='submenu-link'>Registrasi</a>
                                            </li>

                                            <li class="submenu-item  ">
                                                <a href="/instansi/terdaftar" class='submenu-link'>Terdaftar</a>
                                            </li>
                                    </div>
                                </div>
                            </li> -->

                            <li class="menu-item">
                                <a href="/pokja/terdaftar" class="menu-link">
                                    <i class="fa-solid fa-list-check"></i>
                                    <span>Pokja Status</span>
                                </a>
                            </li>

                            <li class="menu-item">
                                <a href="/credits" class="menu-link">
                                    <i class="fa-solid fa-medal"></i>
                                    <span>Tentang</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </header>

            <!-- <div class="content-wrapper container">
                <div class="card">
                    <div class="card-body">
                        <div id="chart"></div>
                    </div>
                </div>
            </div> -->


            <div class="content-wrapper container">
                <!-- <div class="page-heading">
                    <h3>Dashboard</h3>
                </div> -->
                <div class="page-content">
                    <section class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body px-3 py-4-5">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="text-center">
                                                        <div class="stats-icon red">
                                                            <i class="iconly-boldUser"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <h6 class="text-muted font-semibold">Pemda</h6>
                                                    <h6 class="font-extrabold mb-0">{{ .pemda }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body px-3 py-4-5">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="stats-icon purple">
                                                        <i class="iconly-boldUser1"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <h6 class="text-muted font-semibold">Penyedia</h6>
                                                    <h6 class="font-extrabold mb-0">{{ .provider }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Export to XLSX</h4>
                                        </div>
                                        <div class="card-body">
                                            <!-- <div class="alert alert-info alert-dismissible show fade">
                                                Fitur export masih belum stabil.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                            </div> -->
                                            <form>
                                                <input type="hidden" name="qf" value="q">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col">
                                                            <label>Tabel</label>
                                                            <select class="form-select" name="tabel" id="tabel">
                                                                <option value="pemda">PEMDA</option>
                                                                <option value="penyedia">PENYEDIA</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col">
                                                            <label>From <sup
                                                                    class="text-danger"><i>wajib</i></sup></label>
                                                            <input type="date" class="form-control" name="from"
                                                                id="from">
                                                        </div>
                                                        <div class="col">
                                                            <label>To <sup
                                                                    class="text-danger"><i>wajib</i></sup></label>
                                                            <input type="date" class="form-control" name="to" id="to">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary"
                                                        id="export">Export</button>
                                                </div>
                                            </form>
                                            <!-- <div id="chart-profile-visit"></div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <!-- <div class="card">
                                <div class="card-body py-4 px-5">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-xl">
                                            <img src="/assets/images/icons/dashboard/leader.png" alt="administrator">
                                        </div>
                                        <div class="ms-3 name">
                                            <h5 class="font-bold">Admin</h5>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="card">
                                <div class="card-body px-3 py-4-5">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="stats-icon blue">
                                                <i class="iconly-boldWork"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h6 class="text-muted font-semibold">Instansi</h6>
                                            <h6 class="font-extrabold mb-0">{{ .instansi }} data aktif</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body px-3 py-4-5">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="stats-icon green">
                                                <i class="iconly-boldProfile"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h6 class="text-muted font-semibold">Pokja</h6>
                                            <h6 class="font-extrabold mb-0">{{ .pokja }} data aktif</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card">
                                <div class="card-body py-4 px-5">
                                    <a href="https://github.com/aliffatulmf/guest_book_pp" target="_blank">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-content">
                                                <h3><i class="bi bi-github"></i></h3>
                                            </div>
                                            <div class="ms-3 name">
                                                <h5 class="font-bold">Home Page</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div> -->
                        </div>

                    </section>
                </div>

            </div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendors/toastify/toastify.js"></script>
    <script src="/assets/fontawesome/js/all.min.js"></script>
    <!-- <script src="/assets/vendors/apexcharts/dist/apexcharts.min.js"></script>

    <script>
        var options = {
            chart: {
                toolbar: {
                    show: true,
                    offsetX: 0,
                    offsetY: 0,
                    tools: {
                        download: true,
                        selection: true,
                        zoom: true,
                        zoomin: true,
                        zoomout: true,
                        pan: true,
                        reset: true | '<img src="/static/icons/reset.png" width="20">',
                        customIcons: []
                    },
                    export: {
                        csv: {
                            filename: undefined,
                            columnDelimiter: ',',
                            headerCategory: 'category',
                            headerValue: 'value',
                            dateFormatter(timestamp) {
                                return new Date(timestamp).toDateString()
                            }
                        },
                        svg: {
                            filename: undefined,
                        },
                        png: {
                            filename: undefined,
                        }
                    },
                    autoSelected: 'zoom'
                },
            },
            series: [{
                name: 'PEMDA',
                data: [31, 40, 28, 51, 42, 109, 100]
            }, {
                name: 'PENYEDIA',
                data: [11, 32, 45, 32, 34, 52, 41]
            }],
            chart: {
                height: 350,
                type: 'area'
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            xaxis: {
                type: 'datetime',
                categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"],
                labels: {
                    show: true,
                    datetimeUTC: true,
                    datetimeFormatter: {
                        year: 'yyyy',
                        month: "MMM 'yy",
                        day: 'dd MMM',
                        hour: 'HH:mm',
                    },
                }
            },
            tooltip: {
                x: {
                    format: 'dd/MM/yy HH:mm'
                },
            },
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script> -->
    <script>
        $("button#export").click(function () {
            var tabel = $("#tabel").val()
            var from = $("#from").val()
            var to = $("#to").val()

            $.ajax({
                url: `/export?qf=q&tabel=${tabel}&from=${from}&to=${to}`,
                method: "GET",
                success: function () {
                    Toastify({
                        text: "Export success",
                        duration: 3000,
                        close: false,
                        gravity: "top",
                        position: "center",
                        backgroundColor: "#4fbe87",
                    }).showToast();
                },
                error: function () {
                    Toastify({
                        text: "Error",
                        duration: 3000,
                        close: false,
                        gravity: "top",
                        position: "center",
                        backgroundColor: "#dc3545",
                    }).showToast();
                }
            })
        })
    </script>
</body>

</html>
